<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
</head>
<body>
<h1>Szczegoly uzytkownika</h1>

<ul>
    <li th:text="|FIRSTNAME: ${savedCustomer.firstName}|"></li>
    <li th:text="|LASTNAME: ${savedCustomer.lastName}|"></li>
    <li th:text="|EMAIL ADRESS: ${savedCustomer.email}|"></li>
    <li th:text="|PHONENUMBER: ${savedCustomer.phone}|"></li>
</ul>
<a th:href="@{/show}">Wroc do strony glownej</a>
<a th:href="@{/nowy}">Przekierowanie</a>
</body>
</html>